{% extends 'base.html' %}
{% load static %}


{% block title %}
About Us
{% endblock title %}



{% block css %}

{% endblock css %}

{% block content %}
<div class="sm:flex items-center max-w-screen-xl">
    <div class="sm:w-1/2 p-10">
        <div class="image object-center text-center">
            <img src="https://i.imgur.com/WbQnbas.png">
        </div>
    </div>
    <div class="sm:w-1/2 p-5">
        <div class="text">
            <span class="text-gray-500 border-b-2 border-indigo-600 uppercase">About us</span>
            <h2 class="my-4 font-bold text-3xl  sm:text-4xl ">About <span class="text-indigo-600">Our Company</span>
            </h2>
            <div class="text-gray-700 flex flex-col gap-6">
                <p> Welcome to PrimePicksHub, your go-to destination for discovering the best deals and recommendations
                    on Amazon products!
                    If you're looking to make informed purchasing decisions and save money on your favorite products,
                    you've come to the right place.
                </p>

                <p>At PrimePicksHub, our mission is simple: to help you find the perfect products on Amazon that meet
                    your needs and
                    budget. Whether you're shopping for electronics, home goods, fashion, or anything in between, we've
                    got you covered.
                </p>

                <p>As a new website in the affiliate marketing space, we're committed to providing you with honest,
                    unbiased reviews and
                    recommendations. Our team scours the Amazon marketplace to curate a carefully selected collection of
                    top-rated products
                    across various categories. We prioritize quality, value, and customer satisfaction to ensure that
                    every recommendation
                    we make is one that we truly believe in.
                </p>

                <p> But PrimePicksHub is more than just a place to find great deals – it's a community of savvy
                    shoppers like you. Join us
                    as we share tips, tricks, and insider insights to help you get the most out of your Amazon shopping
                    experience. Whether
                    you're a seasoned pro or new to the world of online shopping, you'll find valuable resources and
                    support here at
                    PrimePicksHub.
                </p>

                <p> Thank you for choosing PrimePicksHub as your trusted source for Amazon product recommendations.
                    We're excited to embark
                    on this journey with you and help you discover the best that Amazon has to offer.
                </p>

            </div>
        </div>
    </div>
</div>

{% endblock content %}




{% block js %}

{% endblock js %}